.link {
  text-decoration: none;
  color: #212529;
}

.topbar h1 {
  text-transform: uppercase;
  font-size: 32px;
}

.topbar p {
  font-size: 12px;
}

.topbar .socialLinks a {
  display: inline-block;
  margin-right: 10px;
  text-decoration: none;
  color: #212529;
}